################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BogusAFaker/.vs/BogusAFaker
/BogusAFaker/BogusAFaker/bin/Debug/net6.0
/BogusAFaker/BogusAFaker/obj
